@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

a{
  text-decoration: none;
  color: #656565;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

.buttons{
  padding: 15px;
  border-radius: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.pageWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header  {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
