/* Add CSS Styling */
.odd{
    background-color: rgb(218, 166, 174);
    font-family: Verdana, "DejaVu Sans",sans-serif;
}

.add-font-size{
    font-size: 24px;
}

#two{
    color: rgb(130, 130, 241);
    font-size: 36px;
}

#four{
    background-color: hsl(100, 51%, 71%);
    font-weight: bold;
}