body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  display: block;
  padding: 5px;
}